<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload Document</title>
</head>
<body>
<div style = "margin: 200px">
    <h1><center><i>Upload CV</i></center></h1>
    <form method="post" enctype="multipart/form-data" >
    <table align="center">
        <tr>
            <td>
                <input type="file" name="sample" accept=".docx,.pdf,.doc" id = "fname" required/>
            </td>
            <td>
                    <button > Submit </button>
            </td>
        </tr>
    </table>
    </form>
</div>
</body>
</html>
